* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    color: whitesmoke;
    padding: 20px;
    background: #151c39;
    box-sizing: border-box;
}

.logo-img {
    width: 180px;
    height: 180px;
}

.container-logo {
    margin: 0 50px;
    font-size: 25px;
}

.menu-item {
    list-style: none;
}

.menu-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.banner-title, .banner-description {
    text-align: center;
    color: antiquewhite;
}

.banner-title {
    font-size: 48px;
}

.banner-section {
    padding: 100px 0;
    background: url(background-01.jpeg);
    background-size: cover;
    background-position: center;
}

.cards-section {
    padding: 50px 0px;
}

.cards-text {
    background: rgba(4, 181, 163, 0.9);
    border-radius: 25px;
}

.cards-title {
    color: #151c39;
    text-align: center;
    font-size: 34px;
}

.card {
    padding: 25px;
    margin-top: 25px;
    background: rgba(125, 185, 179, 0.9);
    box-shadow: 0px 2px 7px 0px #9e90ff;
    text-align: center;
}

.card-link {
    text-decoration: none;
    color: white;
}

.card-button {
    text-align: center;
    background: #151c39;
    padding: 10px 70px;
    border-radius: 10px;
    cursor: pointer;
}

.card-title, .card-text {
    margin-bottom: 10px;
}

.card-title {
    font-size: 25px;
}

.card-text {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
}

.cards {
    display: inline-block;
    width: 27%;
    margin: 0px 20px;
}

.footer {
    background: url(background-footer.jpeg);
    background-size: cover;
    padding: 100px 0px;
}

.copyright {
    color: white;
    font-size: 20px;
    text-align: left;
}

.container-footer {
    margin: 0 60px;
    font-size: 25px;
}

.main {
    background: url(background-logo.jpeg);
}